.container {
  height: 50%;
  padding: 0%;
}

.carousel-item {
  height: 30rem;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}  

