.container {
  margin-top: 5px;
  padding: 0%;
  height: auto;
  padding: 0%;
}

.carousel-item {
  height: 95vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}  

