.footer-distributed{
	margin-top: 5px;
	background: #E37222;
	text-align: left;
}

.footer-columns {
	padding: 15px;
}

.footer-distributed h3 {
	margin-top: 10px;
}

.footer-distributed h3 span{
	color:  #ffffff;
}

/*contact section */
.contact {
	display: flex;
    align-items:center;
    gap: 1em;
	text-wrap: nowrap;
}

.contact-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 35px;
    height: 35px;
    border-radius: 10% ;    
    background-color: white;    
    font-size: large;
    color: #33383b;
}
.footer-icons {
	display: flex;	
    align-items: center;
	justify-content:space-evenly; 
}
.footer-distributed .footer-icons a{
	display: flex;	
	align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 10% ;    
    background-color: white;    
    font-size: large;
    color: #33383b;
}

.footer-distributed .footer-icons a:hover{
	background-color:teal;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	font-size: 15px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  	font-weight:400;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-links a:hover {
	color: teal;
}

.footer-distributed .footer-company-name{
	color:  #ffffff;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  	font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p a{
	color:  #ffffff;
	text-decoration: none;;
}
.footer-distributed .footer-center p a:hover{
	color: teal;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-size: 15px;
  color: #fff;
  padding: 0px 5px 0px 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.map {
	margin-top: 10px;
}

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}