
<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Educar para <span>Transformar</span></h3>

    <p class="footer-links">
      <a href="#" class="link-1">Home</a>
      
      <a href="#">Blog</a>
    
      <a href="#">Pricing</a>
    
      <a href="#">About</a>
      
      <a href="#">Faq</a>
      
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Desarrollado por Grupo 3 © 2023</p>
  </div>

  <div class="footer-center">

    <div class="contact">
      <div class="contact-icon-container">
        <i class="fa-solid fa-location-dot"></i>
      </div>      
      <p><span>French 414</span> Resistencia, Chaco</p>      
      <br><br>
    </div>

    <div class="contact">
      <div class="contact-icon-container">
        <i class="fa-solid fa-phone"></i> 
      </div>           
      <p>+1.555.555.5555</p>      
      <br><br>
    </div>

    <div class="contact">
      <div class="contact-icon-container">
        <i class="fa-solid fa-envelope"></i>  
      </div>          
      <p><a href="mailto:support@company.com">educar@transformar.edu.ar</a></p>      
      <br><br>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">       
      <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-square-github"></i></a>
    </div>

  </div>

</footer>
