<div class="wellness-section-container">
    <div class="wellness-section">
        <h2>Bienestar <br/>Estudiantil</h2>            
        <div class="wellness-icon-container">
            <i class="fa-solid fa-medal wellness-icon"></i>
            <p>Deportes</p>
        </div>
        <div class="wellness-icon-container">
            <i class="fa-solid fa-building wellness-icon"></i>
            <p>Instalaciones</p>
        </div>
        <div class="wellness-icon-container">
            <i class="fa-solid fa-language wellness-icon"></i>
            <p>Idiomas</p>
        </div>
    </div>
    <div class="wellness-info">
        <div>
            <h2>sports</h2>
            <ul>
                <li>
                    <i class="fa-solid fa-person-running"></i>    
                    <strong>Atletismo</strong>
                </li>
                <li>
                    <i class="fa-solid fa-person-swimming"></i>
                    <strong>Natacion</strong> 
                </li>
                <li>
                    <i class="fa-solid fa-futbol"></i>
                    <strong>Futbol</strong>
                </li>
                <li>
                    <i class="fa-solid fa-medal"></i>
                    <strong>Artes Marciales</strong>
                </li>
                <li>
                    <i class="fa-solid fa-volleyball"></i>
                    <strong>Voleibol</strong>
                </li>
                <li>
                    <i class="fa-solid fa-shoe-prints"></i>
                    <strong>Danza</strong>
                </li>
                <li>
                    <i class="fa-solid fa-stopwatch-20"></i>
                    <strong>Ajedrez</strong>
                </li>
                <li>
                    <i class="fa-solid fa-basketball"></i>
                    <strong>Basquet</strong>
                </li>
            </ul>                
        </div>
        <div>
            <h2>buildings</h2>
            <ul>
                <li>
                    <i class="fa-solid fa-futbol"></i>
                    <strong>Canchas de Futbol</strong>
                </li>
                <li>
                    <i class="fa-solid fa-person-swimming"></i>
                    <strong>Pileta de Natacion</strong>
                </li>
                <li>
                    <i class="fa-solid fa-person-running"></i>
                    <strong>Pista de Atletismo</strong>
                </li>
                <li>
                    <i class="fa-solid fa-dumbbell"></i>
                    <strong>Gimnasio Cubierto</strong>
                </li>
                <li>
                    <i class="fa-solid fa-utensils"></i>
                    <strong>Comedor</strong>
                </li>               
            </ul>
        </div>
        <div>
            <h2>languages</h2>
            <ul>
                <li>
                    <i class="fa-solid fa-earth-americas"></i>
                    <strong>Portugues</strong>
                </li>
                <li>
                    <i class="fa-solid fa-earth-europe"></i>
                    <strong>Ingles</strong>
                </li>
            </ul>
        </div>      
    </div>                
</div>    