//wellness section

.wellness-section-container{   
    display: flex;
    height: 100vh;
}

.wellness-section {    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    //font-family: 'DM Serif Display', serif;    
    width: 45vw;
    background-color: #2F4358;    
}

.wellness-section > h2{
    //font-family: 'DM Serif Display', serif;
    color: white;
    font-size: 40px;
    margin-left: 15px;
}

.wellness-icon-container {
    display: flex;
    align-items: center;    
    border-radius: 5%;
    margin: 10px;
    height: 80px;
    width: 250px;        
    
}

.wellness-icon-container > p {
    color: white;
    //font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 15px
}

.wellness-icon {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;
    background-color: white;    
    font-size: 30px;
    padding: 10px;
    color: #2F4358
}

.wellness-info {
    border-color: teal #2F4358 #2F4358 #2F4358; 
    border-width: 3px 3px 3px 3px;
    border-style: solid solid solid solid;
    width: 55vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-color: rgb(215, 228, 228);
}

.wellness-info > :nth-child(1){       
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
}

.wellness-info > :nth-child(2){    
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3;
}

.wellness-info > :nth-child(3){  
    margin-top: -20vh;  
    display: flex;
    flex-direction: column;
    align-items: center;    
    grid-area: 2 / 1 / 3 / 3;
}

.wellness-info > :nth-child(3) > ul{    
   margin-left: 50px;
}

.wellness-info > div { 
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.wellness-info > div > h2{  
    margin-top: 20vh;  
    margin-left: 15px;  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color : #2F4358;  
    color: white;   
    width: 70%;  
}

.wellness-info > div > ul{
    margin-right: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;   
    width: 80%;    
}

.wellness-info > div > ul > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    font-size: 20px;       
}

.wellness-info > div > ul > li > strong {
    margin-left: 15px;       
}

//wellness section

//responsive

@media (max-width: 880px){
    .wellness-section-container{   
        flex-direction: column; 
        margin-bottom: 80vh;   
    }

    .wellness-section {
        width: 100%;
        height: 80vh;
    }

    .wellness-info {
        width: 100%;
        height: 100vh;
        
    }
}