.navbar-brand{
    text-decoration: none;
}

.logo{    
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: white; 
}

.nav-link {
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

.nav-link:hover{
    background-color: #e37222;
    color: white;
}

.navbar {    
    width: 100%;
    background-color: teal;
    opacity: 0.95;    
}

.container .navbar-brand {
    color: white;
}

.navbar-nav > button {
    margin: 0px 5px 0px 5px;
    background-color: #e37222;
    border-radius: 15px;
}
.navbar-nav > button:hover {
    color: black !important; 
    background-color: wheat;
    border: 2px solid #e37222;
    border-radius: 15px;
}

.about-header{
    display: flex;
    flex-direction: column;
}

