<header>

  <nav class="navbar navbar-expand-lg ">

      <div class="container">

        <div>
          <a class="navbar-brand align-middle" routerLink="/home">Educar para Transformar</a>
          <a routerLink="/home">
            <img class="logo" src="../../../assets/logo2.svg">
          </a>
        </div>    

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

          <ul class="navbar-nav ms-auto">
            
            <li class="nav-item active">
              <a class="nav-link"  routerLink="about">Quienes somos</a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link"  routerLink="student-health">Bienestar Estudiantil</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="news">Noticias</a>
            </li>

            <button type="button" class="btn text-white" routerLink="join">Inscribite</button>

          </ul>
          
        </div>

      </div>

  </nav>

</header>
