.navbar {
    width: 50vh;
    margin: auto;
}

.navbar-brand{
    text-decoration: none;
}

.logo{    
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: white; 
}

.nav-link {
    color: white;    
    margin-left: 10px;    
    text-decoration: none;
    border-radius: 15px;
}

.nav-link:hover{
    background-color: #e37222;
    color: white;
}

.navbar {    
    width: 100%;
    background-color: teal;
    opacity: 0.95;    
}

.container .navbar-brand {
    color: white;
}

.navbar-nav > button {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 10px;
    background-color: #e37222;
    border-radius: 15px;
}

.about-header{
    display: flex;
    flex-direction: column;
}

