@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.container{
    height: 100%;
    width: 100%;
    border:1px solid blue
}

//about section

.about-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red
}

.about-header > h1{
    color: #234262;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.about-header > .row div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-button-container{
    width: 50vw;
    height: 50px;   
    display: flex;   
    border: 1px solid green;     
    justify-content: space-evenly;
    align-items: center;
}

.about-button-container button {
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 15px;
    border-color: white;    
}

.about-button-container button:hover{ 
    font-weight: bolder;
    color: white;
    display: flex;
    background-color: #1FC2D9;
    border-radius: 15px;
    cursor: pointer;
}

//about section

//badge section

.badge-section{ 
    font-family: 'DM Serif Display', serif;
    margin-top: 20px;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid red 
}

.badge{    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5%;
    height: 100px;
    width: 300px;
    margin: 10px;          
}

.badge-section .badge p {
    
    font-size: 20px;   
    font-weight: bold;     
}

.badge-icon{    
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;    
    font-size: 30px;
    padding: 10px;
}

div.container > div.badge-section >:first-child{
    background-color: #EBB830;
}


div.container > div.badge-section .badge:first-child .badge-icon {
    color:#EBB830
}

div.container > div.badge-section >:nth-child(2){
    background-color: #317BD6;
}

div.container > div.badge-section .badge:nth-child(2) .badge-icon {
    color: #317BD6;
}

div.container >div.badge-section> :nth-child(3) {
    background-color: #1FC2D9;
}

div.container >div.badge-section .badge:nth-child(3) .badge-icon {
    color: #1FC2D9;
}

//badge section

//wellness section

.wellness-section-container{
    display: flex;    
    border: 1px solid red;
    height: 70vh;
    margin: 10px;
    height: 60vh;
}

.wellness-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    font-family: 'DM Serif Display', serif;    
    width: 45vw;
    background-color: #2F4358;    
}

.wellness-section > h2{
    font-family: 'DM Serif Display', serif;
    color: white;
    font-size: 40px;
    margin-left: 15px;
}

.wellness-icon-container {
    display: flex;
    align-items: center;    
    border-radius: 5%;
    margin: 10px;
    height: 80px;
    width: 250px;    
    border: 1px solid red;
}

.wellness-icon-container:hover{
    background-color: #036a78;
    cursor: pointer;
}

.wellness-icon-container > p {
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 15px
}

.wellness-icon {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;
    background-color: white;    
    font-size: 30px;
    padding: 10px;
    color: #2F4358
}

.wellness-info {   
    width: 55vw;
}

.wellness-info > div > ul{
    list-style: none;
    
}

//wellness section

//responsive

@media (max-width: 880px){
    .badge-section  {
        flex-direction: column;
    } 
    
    .about-button-container{       
        height: 200px;   
        display: flex; 
        flex-direction: column;  
        border: 1px solid green;     
        justify-content: space-evenly;
        align-items: center;
    }
}

//responsive
