<div class="container">
    <div class="about-header">
        <h1>Quienes somos</h1>
        <p>Somos una escuela privada comprometida con la excelencia académica. Nuestra misión es brindar una educación integral de calidad que permita a nuestros estudiantes desarrollar todo su potencial.</p>
            <div class="about-button-container">
                <button class="btn btn-outline-secondary"
                    (click)="showDiv.objetive = !showDiv.objetive; showDiv.mission = false; showDiv.values=false">
		        	Objetivo
		        </button>
                <button class="btn btn-outline-secondary"
                    (click)="showDiv.mission = !showDiv.mission; showDiv.objetive = false; showDiv.values=false">
		        	Mision
		        </button>
                <button class="btn btn-outline-secondary"
                    (click)="showDiv.values = !showDiv.values; showDiv.mission = false; showDiv.objetive= false">
		        	Valores
		        </button>
            </div>                
        <div class="row">
            <div *ngIf="showDiv.objetive">
                <h2>objetivo</h2>
                <p>Nuestro objetivo principal es formar personas con sólidos valores éticos, pensamiento crítico y habilidades para ser ciudadanos globales del siglo XXI, capaces de aportar valor a la comunidad. Buscamos despertar en ellos la curiosidad por el conocimiento y el aprendizaje permanente.</p>
                <p>Contamos con modernas instalaciones y aulas equipadas con la más alta tecnología educativa. Nuestro plantel docente está conformado por profesionales altamente capacitados, con amplia experiencia en la enseñanza de metodologías innovadoras.</p>
            </div>
            <div *ngIf="showDiv.mission">
                <h2>Misión</h2>
                <p>Nuestra misión es brindar una educación integral de calidad que permita a nuestros estudiantes desarrollar todo su potencial y convertirse en personas de bien para la sociedad.</p>
            </div>
            <div *ngIf="showDiv.values">
                <h2>Valores</h2>
                <p>Nuestros valores se centran en el respeto, la excelencia y la responsabilidad social. Buscamos formar personas íntegras, comprometidas con su desarrollo personal y capaces de aportar valor a la sociedad.</p>
            </div>
        </div>       
    </div>
    <div class="badge-section">
        <div class="badge">
            <i class="fa-solid fa-apple-whole badge-icon"></i>
            <p>Nivel<br/> Inicial</p>
        </div>        
        <div class="badge">
            <i class="fa-solid fa-school-flag badge-icon"></i> 
            <p>Nivel<br/> Primario</p>           
        </div>
        <div class="badge">
            <i class="fa-solid fa-graduation-cap badge-icon"></i>
            <p>Nivel <br/> Secundario</p>
        </div>
    </div>
    <div class="wellness-section-container">
        <div class="wellness-section">
            <h2>Bienestar <br/>Estudiantil</h2>            
            <div class="wellness-icon-container">
                <i class="fa-solid fa-medal wellness-icon"></i>
                <p>Deportes</p>
            </div>
            <div class="wellness-icon-container">
                <i class="fa-solid fa-building wellness-icon"></i>
                <p>Instalaciones</p>
            </div>
            <div class="wellness-icon-container">
                <i class="fa-solid fa-language wellness-icon"></i>
                <p>Idiomas</p>
            </div>
        </div>
        <div class="wellness-info">
            <div>
                <h2>sports</h2>
                <ul>
                    <li>
                        <i class="fa-solid fa-person-running"></i>    
                        <strong>Atletismo</strong>
                    </li>
                    <li>
                        <i class="fa-solid fa-person-swimming"></i>
                        <strong>Natacion</strong> 
                    </li>
                    <li>
                        <i class="fa-solid fa-futbol"></i>
                        <strong>Futbol</strong>
                    </li>
                    <li>
                        <i class="fa-solid fa-medal"></i>
                        <strong>Artes Marciales</strong>
                    </li>
                    <li>
                        <i class="fa-solid fa-volleyball"></i>
                        <strong>Voleibol</strong>
                    </li>
                    <li>
                        <i class="fa-solid fa-shoe-prints"></i>
                        <strong>Danza</strong>
                    </li>
                    <li>
                        <i class="fa-solid fa-stopwatch-20"></i>
                        <strong>Ajedrez</strong>
                    </li>
                    <li>
                        <i class="fa-solid fa-basketball"></i>
                        <strong>Basquet</strong>
                    </li>
                </ul>                
            </div>
            <div>
                <h2>buildings</h2>
                <ul>
                    <li>
                        <i class="fa-solid fa-futbol"></i>
                        <strong>Canchas de Futbol</strong>
                    </li>
                    <li>
                        <i class="fa-solid fa-person-swimming"></i>
                        <strong>Pileta de Natacion</strong>
                    </li>
                    <li>
                        <i class="fa-solid fa-person-running"></i>
                        <strong>Pista de Atletismo</strong>
                    </li>
                    <li>
                        <i class="fa-solid fa-dumbbell"></i>
                        <strong>Gimnasio Cubierto</strong>
                    </li>
                    <li>
                        <i class="fa-solid fa-utensils"></i>
                        <strong>Comedor</strong>
                    </li>               
                </ul>
            </div>
            <div>
                <h2>languages</h2>
                <ul>
                    <li>
                        <i class="fa-solid fa-earth-americas"></i>
                        <strong>Portugues</strong>
                    </li>
                    <li>
                        <i class="fa-solid fa-earth-europe"></i>
                        <strong>Ingles</strong>
                    </li>
                </ul>
            </div>      
        </div>                
    </div>    
</div>
