<div class="container">
    <div class="about-header">

        <div class="about-section">
            <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col class="about-img"></ion-col>
                  <ion-col>
                    <h2>Quienes somos</h2>
                    <p>Somos una escuela privada comprometida con la excelencia académica. Nuestra misión es brindar una educación integral de calidad que permita a nuestros estudiantes desarrollar todo su potencial.</p>
                    <p>Somos una institución fundada en el año 2023 con el objetivo de asistir educativamente a niños y adolescentes.
                        Desde entonces desarrollamos nuestras actividades de modo ininterrumpido en la localidad de Resistencia.</p>
                    
                  </ion-col>
                </ion-row>
              </ion-grid>
        </div>  
  
        <div class="about-button-container">
                <button class="btn btn-outline-secondary"
                    (click)="showDiv.objetive = !showDiv.objetive; showDiv.mission = false; showDiv.values=false">
		        	Objetivo
		        </button>
                <button class="btn btn-outline-secondary"
                    (click)="showDiv.mission = !showDiv.mission; showDiv.objetive = false; showDiv.values=false">
		        	Mision
		        </button>
                <button class="btn btn-outline-secondary"
                    (click)="showDiv.values = !showDiv.values; showDiv.mission = false; showDiv.objetive= false">
		        	Valores
		        </button>
        </div>                 
        <div class="row">
            <div *ngIf="showDiv.objetive">
                <h2><u>Objetivo</u></h2>
                <p>Nuestro objetivo principal es formar personas con sólidos valores éticos, pensamiento crítico y habilidades para ser ciudadanos globales del siglo XXI, capaces de aportar valor a la comunidad. Buscamos despertar en ellos la curiosidad por el conocimiento y el aprendizaje permanente.</p>
                <p>Contamos con modernas instalaciones y aulas equipadas con la más alta tecnología educativa. Nuestro plantel docente está conformado por profesionales altamente capacitados, con amplia experiencia en la enseñanza de metodologías innovadoras.</p>
            </div>
            <div *ngIf="showDiv.mission">
                <h2><u>Misión</u></h2>
                <p>Nuestra misión es brindar una educación integral de calidad que permita a nuestros estudiantes desarrollar todo su potencial y convertirse en personas de bien para la sociedad.</p>
            </div>
            <div *ngIf="showDiv.values">
                <h2><u>Valores</u></h2>
                <p>Nuestros valores se centran en el respeto, la excelencia y la responsabilidad social. Buscamos formar personas íntegras, comprometidas con su desarrollo personal y capaces de aportar valor a la sociedad.</p>
            </div>
        </div>       
    </div>
    <div class="badge-section">
        <div class="badge"
        (click)="showDiv.initialLevel = !showDiv.initialLevel; showDiv.primaryLevel = false ; showDiv.secondaryLevel = false">
            <i class="fa-solid fa-apple-whole badge-icon"></i>
            <p>Nivel<br/> Inicial</p>
        </div>        
        <div class="badge"
        (click)="showDiv.primaryLevel = !showDiv.primaryLevel; showDiv.initialLevel = false; showDiv.secondaryLevel = false">
            <i class="fa-solid fa-school-flag badge-icon"></i> 
            <p>Nivel<br/> Primario</p>           
        </div>
        <div class="badge"
        (click)="showDiv.secondaryLevel = !showDiv.secondaryLevel; showDiv.initialLevel = false ; showDiv.primaryLevel= false">
            <i class="fa-solid fa-graduation-cap badge-icon"></i>
            <p>Nivel <br/> Secundario</p>
        </div>
    </div>
    <div class="levels-section">
        <div *ngIf="showDiv.initialLevel" id="initial-level" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../../../assets/educacionInicial_slide1.jpg" alt="First slide A">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/educacionInicial_slide2.jpg" alt="Second slide A">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/educacionInicial_slide3.jpg" alt="Third slide A">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#initial-level" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#initial-level" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div *ngIf="showDiv.primaryLevel" id="primary-level" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../../../assets/educacionPrimaria_slide1.jpg" alt="First slide B">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/educacionPrimaria_slide2.jpg" alt="Second slide B">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/educacionPrimaria_slide3.jpg" alt="Third slide B">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#primary-level" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#primary-level" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div *ngIf="showDiv.secondaryLevel" id="secondary-level" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../../../assets/educacionSecundaria_slide1.jpg" alt="First slide C">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/educacionSecundaria_slide2.jpg" alt="Second slide C">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/educacionSecundaria_slide3.jpg" alt="Third slide C">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#secondary-level" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#secondary-level" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</div>
